#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.login-container {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container .login-broad {
  border: 2px dashed #646cff;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
}
